page-home {
    ion-card{
        position: relative;
    }
    .card-button{
        padding:5px !important;
    }
    .card-button.card-bin{
        position: absolute;
        top:0;
        right:2%;
    }
    .card-button.card-edit{
        position: absolute;
        top:0;
        right:8%;
        margin-right:10px !important;
    }

}
