<ion-header>
  <ion-navbar>
    <ion-title>Address Diary - Home</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-right (click)="signOut()">
        <ion-icon name="md-power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="gotoAddNew()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
  <p><strong>Welcome {{userName}}</strong></p>
  <div *ngIf="allAddress?.length > 0">
    <ion-item>
      <ion-label>Show Favourites</ion-label>
      <ion-toggle [(ngModel)]="showFav" (click)="getAllFavAddress(showFav)"></ion-toggle>
    </ion-item>
    <ion-searchbar (ionInput)="filter($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of allAddress" (click)="viewAddress(item)">
        <ion-icon name="ios-contact" item-start></ion-icon>
        <p *ngIf="!(item.data().deleted)" ><strong>{{item.data().name}}</strong>, {{item.data().locality}}, {{item.data().city}}, {{item.data().mobile}}</p>
        <p *ngIf="(item.data().deleted)" ><strong>{{item.data().name}}</strong> - Marked for deletion</p>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="allAddress?.length == 0">
    <p><strong>No cards to display right now</strong></p>
  </div>
</ion-content>
